<h1 class="csc-firstHeader">
    Danske byer med postnummer i Byvejr
</h1>
<table class="table table-condensed">
    <tbody>
        <tr>
            <td width="25%" valign="top">
                <b>A</b><br>
                <a href="/postnr/5320/">Agedrup</a><br>
                <a href="/postnr/6753/">Agerbæk</a><br>
                <a href="/postnr/6534/">Agerskov</a><br>
                <a href="/postnr/2620/">Albertslund</a><br>
                <a href="/postnr/3450/">Allerød</a><br>
                <a href="/postnr/3770/">Allinge/Sandvig</a><br>
                <a href="/postnr/8961/">Allingåbro</a><br>
                <a href="/postnr/6051/">Almind</a><br>
                <a href="/postnr/8592/">Anholt</a><br>
                <a href="/postnr/8643/">Ans By</a><br>
                <a href="/postnr/6823/">Ansager</a><br>
                <a href="/postnr/9510/">Arden</a><br>
                <a href="/postnr/4792/">Askeby</a><br>
                <a href="/postnr/4550/">Asnæs</a><br>
                <a href="/postnr/5466/">Asperup</a><br>
                <a href="/postnr/5610/">Assens</a><br>
                <a href="/postnr/9340/">Asaa</a><br>
                <a href="/postnr/6440/">Augustenborg</a><br>
                <a href="/postnr/7490/">Aulum</a><br>
                <a href="/postnr/8963/">Auning</a>
                <br><br>
                <b>B</b><br>
                <a href="/postnr/5935/">Bagenkop</a><br>
                <a href="/postnr/2880/">Bagsværd</a><br>
                <a href="/postnr/8444/">Balle på Djursland</a><br>
                <a href="/postnr/2750/">Ballerup</a><br>
                <a href="/postnr/7150/">Barrit</a><br>
                <a href="/postnr/8330/">Beder</a><br>
                <a href="/postnr/7755/">Bedsted Thy</a><br>
                <a href="/postnr/6541/">Bevtoft</a><br>
                <a href="/postnr/6852/">Billum</a><br>
                <a href="/postnr/7190/">Billund</a><br>
                <a href="/postnr/9881/">Bindslev</a><br>
                <a href="/postnr/3460/">Birkerød</a><br>
                <a href="/postnr/8850/">Bjerringbro</a><br>
                <a href="/postnr/6091/">Bjert</a><br>
                <a href="/postnr/4632/">Bjæverskov</a><br>
                <a href="/postnr/9492/">Blokhus</a><br>
                <a href="/postnr/5491/">Blommenslyst</a><br>
                <a href="/postnr/6857/">Blåvand</a><br>
                <a href="/postnr/4242/">Boeslunde</a><br>
                <a href="/postnr/5400/">Bogense</a><br>
                <a href="/postnr/4793/">Bogø By</a><br>
                <a href="/postnr/6392/">Bolderslev</a><br>
                <a href="/postnr/7441/">Bording</a><br>
                <a href="/postnr/4791/">Borre</a><br>
                <a href="/postnr/4140/">Borup på Sjælland</a><br>
                <a href="/postnr/8220/">Brabrand</a><br>
                <a href="/postnr/6740/">Bramming</a><br>
                <a href="/postnr/7330/">Brande</a><br>
                <a href="/postnr/6535/">Branderup J</a><br>
                <a href="/postnr/6261/">Bredebro</a><br>
                <a href="/postnr/7182/">Bredsten</a><br>
                <a href="/postnr/5464/">Brenderup Fyn</a><br>
                <a href="/postnr/6310/">Broager</a><br>
                <a href="/postnr/5672/">Broby</a><br>
                <a href="/postnr/9460/">Brovst</a><br>
                <a href="/postnr/8654/">Bryrup</a><br>
                <a href="/postnr/8740/">Brædstrup</a><br>
                <a href="/postnr/2605/">Brøndby</a><br>
                <a href="/postnr/2660/">Brøndby Strand</a><br>
                <a href="/postnr/9700/">Brønderslev</a><br>
                <a href="/postnr/2700/">Brønshøj</a><br>
                <a href="/postnr/6650/">Brørup</a><br>
                <a href="/postnr/6372/">Bylderup - Bov</a><br>
                <a href="/postnr/6622/">Bække</a><br>
                <a href="/postnr/7660/">Bækmarksbro</a><br>
                <a href="/postnr/9574/">Bælum</a><br>
                <a href="/postnr/7080/">Børkop</a><br>
                <a href="/postnr/7650/">Bøvlingbjerg</a>
                <br><br>
                <b>C</b><br>
                <a href="/postnr/2920/">Charlottenlund</a><br>
                <a href="/postnr/6070/">Christiansfeld</a>
                <br><br>
                <b>D</b><br>
                <a href="/postnr/5380/">Dalby</a><br>
                <a href="/postnr/4261/">Dalmose</a><br>
                <a href="/postnr/4983/">Dannemare</a><br>
                <a href="/postnr/8721/">Daugård</a><br>
                <a href="/postnr/4293/">Dianalund</a><br>
                <a href="/postnr/2791/">Dragør</a><br>
                <a href="/postnr/9330/">Dronninglund</a><br>
                <a href="/postnr/3120/">Dronningmølle</a><br>
                <a href="/postnr/9352/">Dybvad</a><br>
                <a href="/postnr/2870/">Dyssegård</a>
                <br><br>
                <b>E</b><br>
                <a href="/postnr/5631/">Ebberup</a><br>
                <a href="/postnr/8400/">Ebeltoft</a><br>
                <a href="/postnr/6320/">Egernsund</a><br>
                <a href="/postnr/6040/">Egtved</a><br>
                <a href="/postnr/8250/">Egå</a><br>
                <a href="/postnr/5592/">Ejby</a><br>
                <a href="/postnr/7361/">Ejstrupholm</a><br>
                <a href="/postnr/7442/">Engesvang</a><br>
                <a href="/postnr/4895/">Errindlev</a><br>
                <a href="/postnr/7950/">Erslev</a><br>
                <a href="/postnr/6700/">Esbjerg</a><br>
                <a href="/postnr/4593/">Eskebjerg</a><br>
                <a href="/postnr/4863/">Eskilstrup</a><br>
                <a href="/postnr/3060/">Espergærde</a>
                <br><br>
                <b>F</b><br>
                <a href="/postnr/5600/">Faaborg</a><br>
                <a href="/postnr/6720/">Fanø</a><br>
                <a href="/postnr/9640/">Farsø</a><br>
                <a href="/postnr/3520/">Farum</a><br>
                <a href="/postnr/4640/">Faxe</a><br>
                <a href="/postnr/4654/">Faxe Ladeplads</a><br>
                <a href="/postnr/4944/">Fejø</a><br>
                <a href="/postnr/5863/">Ferritslev Fyn</a><br>
                <a href="/postnr/4173/">Fjenneslev</a><br>
                <a href="/postnr/9690/">Fjerritslev</a><br>
                <a href="/postnr/8762/">Flemming</a><br>
                <a href="/postnr/3480/">Fredensborg</a><br>
                <a href="/postnr/7000/">Fredericia</a><br>
                <a href="/postnr/2000/">Frederiksberg</a><br>
                <a href="/postnr/9900/">Frederikshavn</a><br>
                <a href="/postnr/3600/">Frederikssund</a><br>
                <a href="/postnr/3300/">Frederiksværk</a><br>
                <a href="/postnr/5871/">Frørup</a><br>
                <a href="/postnr/7741/">Frøstrup</a><br>
                <a href="/postnr/4250/">Fuglebjerg</a><br>
                <a href="/postnr/7884/">Fur</a><br>
                <a href="/postnr/4591/">Føllenslev</a><br>
                <a href="/postnr/6683/">Føvling</a><br>
                <a href="/postnr/4540/">Fårevejle St.</a><br>
                <a href="/postnr/8990/">Fårup</a><br>
                <a href="/postnr/8882/">Fårvang</a>
                <br><br>
                <b>G</b><br>
                <a href="/postnr/7321/">Gadbjerg</a><br>
                <a href="/postnr/4621/">Gadstrup</a><br>
                <a href="/postnr/8464/">Galten</a><br>
                <a href="/postnr/9362/">Gandrup</a><br>
                <a href="/postnr/4874/">Gedser</a><br>
                <a href="/postnr/9631/">Gedsted</a><br>
                <a href="/postnr/8751/">Gedved</a><br>
                <a href="/postnr/5591/">Gelsted</a><br>
                <a href="/postnr/2820/">Gentofte</a><br>
                <a href="/postnr/6621/">Gesten</a><br>
                <a href="/postnr/3250/">Gilleleje</a><br>
                <a href="/postnr/5854/">Gislev</a><br>
                <a href="/postnr/4532/">Gislinge</a><br>
                <a href="/postnr/9260/">Gistrup</a><br>
                <a href="/postnr/7323/">Give</a><br>
                <a href="/postnr/8983/">Gjerlev J</a><br>
                <a href="/postnr/8883/">Gjern</a><br>
                <a href="/postnr/5620/">Glamsbjerg</a><br>
                <a href="/postnr/6752/">Glejbjerg</a><br>
                <a href="/postnr/8585/">Glesborg</a><br>
                <a href="/postnr/2600/">Glostrup</a><br>
                <a href="/postnr/4171/">Glumsø</a><br>
                <a href="/postnr/6510/">Gram</a><br>
                <a href="/postnr/6771/">Gredstedbro</a><br>
                <a href="/postnr/8500/">Grenå</a><br>
                <a href="/postnr/2670/">Greve</a><br>
                <a href="/postnr/4571/">Grevinge</a><br>
                <a href="/postnr/7200/">Grindsted</a><br>
                <a href="/postnr/6300/">Gråsten</a><br>
                <a href="/postnr/3230/">Græsted</a><br>
                <a href="/postnr/5892/">Gudbjerg Sydfyn</a><br>
                <a href="/postnr/3760/">Gudhjem</a><br>
                <a href="/postnr/5884/">Gudme</a><br>
                <a href="/postnr/4862/">Guldborg</a><br>
                <a href="/postnr/6690/">Gørding</a><br>
                <a href="/postnr/4281/">Gørlev Sjælland</a><br>
                <a href="/postnr/3330/">Gørløse</a>
            </td>
            <td width="25%" valign="top/" class="Broedtekst">
                <b>H</b><br>
                <a href="/postnr/6100/">Haderslev</a><br>
                <a href="/postnr/8370/">Hadsten</a><br>
                <a href="/postnr/9560/">Hadsund</a><br>
                <a href="/postnr/9370/">Hals</a><br>
                <a href="/postnr/8450/">Hammel</a><br>
                <a href="/postnr/7362/">Hampen</a><br>
                <a href="/postnr/7730/">Hanstholm</a><br>
                <a href="/postnr/7673/">Harboøre</a><br>
                <a href="/postnr/8462/">Harlev J</a><br>
                <a href="/postnr/5463/">Harndrup</a><br>
                <a href="/postnr/4912/">Harpelunde</a><br>
                <a href="/postnr/3790/">Hasle</a><br>
                <a href="/postnr/4690/">Haslev</a><br>
                <a href="/postnr/8361/">Hasselager</a><br>
                <a href="/postnr/4622/">Havdrup</a><br>
                <a href="/postnr/8970/">Havndal</a><br>
                <a href="/postnr/2640/">Hedehusene</a><br>
                <a href="/postnr/8722/">Hedensted</a><br>
                <a href="/postnr/6094/">Hejls</a><br>
                <a href="/postnr/7250/">Hejnsvig</a><br>
                <a href="/postnr/3150/">Hellebæk</a><br>
                <a href="/postnr/2900/">Hellerup</a><br>
                <a href="/postnr/3200/">Helsinge</a><br>
                <a href="/postnr/3000/">Helsingør</a><br>
                <a href="/postnr/6893/">Hemmet</a><br>
                <a href="/postnr/6854/">Henne</a><br>
                <a href="/postnr/4681/">Herfølge</a><br>
                <a href="/postnr/2730/">Herlev</a><br>
                <a href="/postnr/4160/">Herlufmagle</a><br>
                <a href="/postnr/7400/">Herning</a><br>
                <a href="/postnr/5874/">Hesselager</a><br>
                <a href="/postnr/3400/">Hillerød</a><br>
                <a href="/postnr/8382/">Hinnerup</a><br>
                <a href="/postnr/9850/">Hirtshals</a><br>
                <a href="/postnr/9320/">Hjallerup</a><br>
                <a href="/postnr/7560/">Hjerm</a><br>
                <a href="/postnr/8530/">Hjortshøj</a><br>
                <a href="/postnr/9800/">Hjørring</a><br>
                <a href="/postnr/9500/">Hobro</a><br>
                <a href="/postnr/4300/">Holbæk</a><br>
                <a href="/postnr/4960/">Holeby</a><br>
                <a href="/postnr/4684/">Holmegaard</a><br>
                <a href="/postnr/7500/">Holstebro</a><br>
                <a href="/postnr/6670/">Holsted</a><br>
                <a href="/postnr/2840/">Holte</a><br>
                <a href="/postnr/4871/">Horbelev</a><br>
                <a href="/postnr/3100/">Hornbæk</a><br>
                <a href="/postnr/8543/">Hornslet</a><br>
                <a href="/postnr/8783/">Hornsyld</a><br>
                <a href="/postnr/8700/">Horsens</a><br>
                <a href="/postnr/4913/">Horslunde</a><br>
                <a href="/postnr/6682/">Hovborg</a><br>
                <a href="/postnr/8732/">Hovedgård</a><br>
                <a href="/postnr/5932/">Humble</a><br>
                <a href="/postnr/3050/">Humlebæk</a><br>
                <a href="/postnr/3390/">Hundested</a><br>
                <a href="/postnr/7760/">Hurup Thy</a><br>
                <a href="/postnr/4330/">Hvalsø</a><br>
                <a href="/postnr/7790/">Hvidbjerg</a><br>
                <a href="/postnr/6960/">Hvide Sande</a><br>
                <a href="/postnr/2650/">Hvidovre</a><br>
                <a href="/postnr/8270/">Højbjerg</a><br>
                <a href="/postnr/4573/">Højby Sjælland</a><br>
                <a href="/postnr/6280/">Højer</a><br>
                <a href="/postnr/7840/">Højslev</a><br>
                <a href="/postnr/4270/">Høng</a><br>
                <a href="/postnr/8362/">Hørning</a><br>
                <a href="/postnr/2970/">Hørsholm</a><br>
                <a href="/postnr/4534/">Hørve</a><br>
                <a href="/postnr/5683/">Haarby</a><br>
                <a href="/postnr/4652/">Hårlev</a>
                <br><br>
                <b>I</b><br>
                <a href="/postnr/4872/">Idestrup</a><br>
                <a href="/postnr/7430/">Ikast</a><br>
                <a href="/postnr/2635/">Ishøj</a>
                <br><br>
                <b>J</b><br>
                <a href="/postnr/6851/">Janderup Vestjylland</a><br>
                <a href="/postnr/7300/">Jelling</a><br>
                <a href="/postnr/9740/">Jerslev J</a><br>
                <a href="/postnr/4490/">Jerslev S</a><br>
                <a href="/postnr/9981/">Jerup</a><br>
                <a href="/postnr/6064/">Jordrup</a><br>
                <a href="/postnr/7130/">Juelsminde</a><br>
                <a href="/postnr/4450/">Jyderup</a><br>
                <a href="/postnr/4040/">Jyllinge</a><br>
                <a href="/postnr/4174/">Jystrup Midtsjælland</a><br>
                <a href="/postnr/3630/">Jægerspris</a>
                <br><br>
                <b>K</b><br>
                <a href="/postnr/4400/">Kalundborg</a><br>
                <a href="/postnr/4771/">Kalvehave</a><br>
                <a href="/postnr/7960/">Karby</a><br>
                <a href="/postnr/4653/">Karise</a><br>
                <a href="/postnr/2690/">Karlslunde</a><br>
                <a href="/postnr/4736/">Karrebæksminde</a><br>
                <a href="/postnr/7470/">Karup</a><br>
                <a href="/postnr/2770/">Kastrup</a><br>
                <a href="/postnr/5300/">Kerteminde</a><br>
                <a href="/postnr/4892/">Kettinge</a><br>
                <a href="/postnr/6933/">Kibæk</a><br>
                <a href="/postnr/4360/">Kirke Eskilstrup</a><br>
                <a href="/postnr/4070/">Kirke Hyllinge</a><br>
                <a href="/postnr/4060/">Kirke Såby</a><br>
                <a href="/postnr/8620/">Kjellerup</a><br>
                <a href="/postnr/2930/">Klampenborg</a><br>
                <a href="/postnr/9270/">Klarup</a><br>
                <a href="/postnr/3782/">Klemensker</a><br>
                <a href="/postnr/4672/">Klippinge</a><br>
                <a href="/postnr/8765/">Klovborg</a><br>
                <a href="/postnr/8420/">Knebel</a><br>
                <a href="/postnr/2980/">Kokkedal</a><br>
                <a href="/postnr/6000/">Kolding</a><br>
                <a href="/postnr/8560/">Kolind</a><br>
                <a href="/postnr/2800/">Kongens Lyngby</a><br>
                <a href="/postnr/9293/">Kongerslev</a><br>
                <a href="/postnr/4220/">Korsør</a><br>
                <a href="/postnr/6340/">Kruså</a><br>
                <a href="/postnr/3490/">Kvistgård</a><br>
                <a href="/postnr/5772/">Kværndrup</a><br>
                <a href="/postnr/1000/">København</a><br>
                <a href="/postnr/4600/">Køge</a>
                <br><br>
                <b>L</b><br>
                <a href="/postnr/4772/">Langebæk</a><br>
                <a href="/postnr/5550/">Langeskov</a><br>
                <a href="/postnr/8870/">Langå</a><br>
                <a href="/postnr/4320/">Lejre</a><br>
                <a href="/postnr/6940/">Lem St.</a><br>
                <a href="/postnr/8632/">Lemming</a><br>
                <a href="/postnr/7620/">Lemvig</a><br>
                <a href="/postnr/4623/">Lille Skensved</a><br>
                <a href="/postnr/6660/">Lintrup</a><br>
                <a href="/postnr/3360/">Liseleje</a><br>
                <a href="/postnr/4750/">Lundby</a><br>
                <a href="/postnr/6640/">Lunderskov</a><br>
                <a href="/postnr/3540/">Lynge</a><br>
                <a href="/postnr/8520/">Lystrup</a><br>
                <a href="/postnr/9940/">Læsø/Byrum</a><br>
                <a href="/postnr/8831/">Løgstrup</a><br>
                <a href="/postnr/9670/">Løgstør</a><br>
                <a href="/postnr/6240/">Løgumkloster</a><br>
                <a href="/postnr/9480/">Løkken</a><br>
                <a href="/postnr/8723/">Løsning</a><br>
                <a href="/postnr/8670/">Låsby</a>
            </td>
            <td width="25%" valign="top/" class="Broedtekst">
                <b>M</b><br>
                <a href="/postnr/8340/">Malling</a><br>
                <a href="/postnr/9550/">Mariager</a><br>
                <a href="/postnr/4930/">Maribo</a><br>
                <a href="/postnr/5290/">Marslev</a><br>
                <a href="/postnr/5960/">Marstal</a><br>
                <a href="/postnr/5390/">Martofte</a><br>
                <a href="/postnr/3370/">Melby</a><br>
                <a href="/postnr/4735/">Mern</a><br>
                <a href="/postnr/5370/">Mesinge Fyn</a><br>
                <a href="/postnr/5500/">Middelfart</a><br>
                <a href="/postnr/5642/">Millinge</a><br>
                <a href="/postnr/5462/">Morud</a><br>
                <a href="/postnr/4190/">Munke Bjergby</a><br>
                <a href="/postnr/5330/">Munkebo</a><br>
                <a href="/postnr/9632/">Møldrup</a><br>
                <a href="/postnr/8544/">Mørke</a><br>
                <a href="/postnr/4440/">Mørkøv</a><br>
                <a href="/postnr/2760/">Måløv</a><br>
                <a href="/postnr/8320/">Mårslet</a>
                <br><br>
                <b>N</b><br>
                <a href="/postnr/4900/">Nakskov</a><br>
                <a href="/postnr/3730/">Nexø/Dueodde</a><br>
                <a href="/postnr/9240/">Nibe</a><br>
                <a href="/postnr/8581/">Nimtofte</a><br>
                <a href="/postnr/2990/">Nivå</a><br>
                <a href="/postnr/6430/">Nordborg</a><br>
                <a href="/postnr/5800/">Nyborg</a><br>
                <a href="/postnr/4800/">Nykøbing Falster</a><br>
                <a href="/postnr/7900/">Nykøbing Mors</a><br>
                <a href="/postnr/4500/">Nykøbing Sjælland</a><br>
                <a href="/postnr/4880/">Nysted</a><br>
                <a href="/postnr/2850/">Nærum</a><br>
                <a href="/postnr/4700/">Næstved</a><br>
                <a href="/postnr/9610/">Nørager</a><br>
                <a href="/postnr/4840/">Nørre Alslev</a><br>
                <a href="/postnr/4572/">Nørre Asmindrup</a><br>
                <a href="/postnr/5580/">Nørre Aaby</a><br>
                <a href="/postnr/6830/">Nørre-Nebel</a><br>
                <a href="/postnr/8766/">Nørre-Snede</a><br>
                <a href="/postnr/4951/">Nørreballe</a><br>
                <a href="/postnr/9400/">Nørresundby</a>
                <br><br>
                <b>O</b><br>
                <a href="/postnr/8300/">Odder</a><br>
                <a href="/postnr/5000/">Odense</a><br>
                <a href="/postnr/6840/">Oksbøl</a><br>
                <a href="/postnr/5450/">Otterup</a><br>
                <a href="/postnr/5883/">Oure</a><br>
                <a href="/postnr/6855/">Outrup</a>
                <br><br>
                <b>P</b><br>
                <a href="/postnr/6330/">Padborg</a><br>
                <a href="/postnr/9490/">Pandrup</a><br>
                <a href="/postnr/4720/">Præstø</a>
                <br><br>
                <b>R</b><br>
                <a href="/postnr/7183/">Randbøl</a><br>
                <a href="/postnr/8900/">Randers</a><br>
                <a href="/postnr/9681/">Ranum</a><br>
                <a href="/postnr/8763/">Rask Mølle</a><br>
                <a href="/postnr/7970/">Redsted M</a><br>
                <a href="/postnr/4420/">Regstrup</a><br>
                <a href="/postnr/6760/">Ribe</a><br>
                <a href="/postnr/5750/">Ringe</a><br>
                <a href="/postnr/6950/">Ringkøbing</a><br>
                <a href="/postnr/4100/">Ringsted</a><br>
                <a href="/postnr/8240/">Risskov</a><br>
                <a href="/postnr/4000/">Roskilde</a><br>
                <a href="/postnr/7870/">Roslev</a><br>
                <a href="/postnr/4243/">Rude</a><br>
                <a href="/postnr/5900/">Rudkøbing</a><br>
                <a href="/postnr/4291/">Ruds-Vedby</a><br>
                <a href="/postnr/2960/">Rungsted Kyst</a><br>
                <a href="/postnr/8680/">Ry </a><br>
                <a href="/postnr/5350/">Rynkeby</a><br>
                <a href="/postnr/8550/">Ryomgård</a><br>
                <a href="/postnr/5856/">Ryslinge</a><br>
                <a href="/postnr/4970/">Rødby</a><br>
                <a href="/postnr/6630/">Rødding</a><br>
                <a href="/postnr/6230/">Rødekro</a><br>
                <a href="/postnr/8840/">Rødkærsbro</a><br>
                <a href="/postnr/2610/">Rødovre</a><br>
                <a href="/postnr/4673/">Rødvig Stevns</a><br>
                <a href="/postnr/6792/">Rømø/Havneby</a><br>
                <a href="/postnr/8410/">Rønde</a><br>
                <a href="/postnr/3700/">Rønne</a><br>
                <a href="/postnr/4683/">Rønnede</a><br>
                <a href="/postnr/4581/">Rørvig</a>
                <br><br>
                <b>S</b><br>
                <a href="/postnr/8471/">Sabro</a><br>
                <a href="/postnr/4990/">Sakskøbing</a><br>
                <a href="/postnr/9493/">Saltum</a><br>
                <a href="/postnr/8305/">Samsø/Tranebjerg</a><br>
                <a href="/postnr/4592/">Sejerø</a><br>
                <a href="/postnr/8600/">Silkeborg</a><br>
                <a href="/postnr/9870/">Sindal</a><br>
                <a href="/postnr/4583/">Sjællands Odde</a><br>
                <a href="/postnr/6093/">Sjølund</a><br>
                <a href="/postnr/9990/">Skagen</a><br>
                <a href="/postnr/8832/">Skals</a><br>
                <a href="/postnr/5485/">Skamby</a><br>
                <a href="/postnr/8660/">Skanderborg</a><br>
                <a href="/postnr/4050/">Skibby</a><br>
                <a href="/postnr/7800/">Skive</a><br>
                <a href="/postnr/6900/">Skjern</a><br>
                <a href="/postnr/2942/">Skodsborg</a><br>
                <a href="/postnr/2740/">Skovlunde</a><br>
                <a href="/postnr/5881/">Skårup Fyn</a><br>
                <a href="/postnr/4230/">Skælskør</a><br>
                <a href="/postnr/6780/">Skærbæk</a><br>
                <a href="/postnr/3320/">Skævinge</a><br>
                <a href="/postnr/8541/">Skødstrup</a><br>
                <a href="/postnr/9520/">Skørping</a><br>
                <a href="/postnr/4200/">Slagelse</a><br>
                <a href="/postnr/3550/">Slangerup</a><br>
                <a href="/postnr/2765/">Smørum</a><br>
                <a href="/postnr/7752/">Snedsted</a><br>
                <a href="/postnr/3070/">Snekkersten</a><br>
                <a href="/postnr/4460/">Snertinge</a><br>
                <a href="/postnr/8355/">Solbjerg</a><br>
                <a href="/postnr/2680/">Solrød Strand</a><br>
                <a href="/postnr/6560/">Sommersted</a><br>
                <a href="/postnr/8641/">Sorring</a><br>
                <a href="/postnr/4180/">Sorø</a><br>
                <a href="/postnr/8981/">Spentrup</a><br>
                <a href="/postnr/6971/">Spjald</a><br>
                <a href="/postnr/8472/">Sporup</a><br>
                <a href="/postnr/7270/">Stakroge</a><br>
                <a href="/postnr/4780/">Stege</a><br>
                <a href="/postnr/8781/">Stenderup</a><br>
                <a href="/postnr/4295/">Stenlille</a><br>
                <a href="/postnr/3660/">Stenløse</a><br>
                <a href="/postnr/5771/">Stenstrup</a><br>
                <a href="/postnr/4773/">Stensved</a><br>
                <a href="/postnr/7850/">Stoholm Jyll.</a><br>
                <a href="/postnr/4952/">Stokkemarke</a><br>
                <a href="/postnr/4480/">Store Fuglede</a><br>
                <a href="/postnr/4660/">Store Heddinge</a><br>
                <a href="/postnr/4370/">Store Merløse</a><br>
                <a href="/postnr/9280/">Storvorde</a><br>
                <a href="/postnr/7140/">Stouby</a><br>
                <a href="/postnr/9970/">Strandby Vends.</a><br>
                <a href="/postnr/7600/">Struer</a><br>
                <a href="/postnr/4671/">Strøby</a><br>
                <a href="/postnr/4850/">Stubbekøbing</a><br>
                <a href="/postnr/9530/">Støvring</a><br>
                <a href="/postnr/9541/">Suldrup</a><br>
                <a href="/postnr/7451/">Sunds</a><br>
                <a href="/postnr/3740/">Svaneke</a><br>
                <a href="/postnr/4470/">Svebølle</a><br>
                <a href="/postnr/5700/">Svendborg</a><br>
                <a href="/postnr/9230/">Svenstrup J</a><br>
                <a href="/postnr/4520/">Svinninge</a><br>
                <a href="/postnr/6470/">Sydals</a><br>
                <a href="/postnr/9300/">Sæby</a><br>
                <a href="/postnr/2860/">Søborg</a><br>
                <a href="/postnr/5985/">Søby Ærø</a><br>
                <a href="/postnr/4920/">Søllested</a><br>
                <a href="/postnr/7280/">Sønder Felding</a><br>
                <a href="/postnr/7260/">Sønder Omme</a><br>
                <a href="/postnr/6092/">Sønder Stenderup</a><br>
                <a href="/postnr/6400/">Sønderborg</a><br>
                <a href="/postnr/5471/">Søndersø</a><br>
                <a href="/postnr/7550/">Sørvad</a>
            </td>
            <td width="25%" valign="top/" class="Broedtekst">
                <b>T</b><br>
                <a href="/postnr/2630/">Taastrup</a><br>
                <a href="/postnr/4733/">Tappernøje</a><br>
                <a href="/postnr/6880/">Tarm</a><br>
                <a href="/postnr/9575/">Terndrup</a><br>
                <a href="/postnr/8653/">Them</a><br>
                <a href="/postnr/7700/">Thisted</a><br>
                <a href="/postnr/8881/">Thorsø</a><br>
                <a href="/postnr/7680/">Thyborøn</a><br>
                <a href="/postnr/3080/">Tikøb</a><br>
                <a href="/postnr/8381/">Tilst</a><br>
                <a href="/postnr/6980/">Tim</a><br>
                <a href="/postnr/6360/">Tinglev</a><br>
                <a href="/postnr/6862/">Tistrup</a><br>
                <a href="/postnr/3220/">Tisvildeleje</a><br>
                <a href="/postnr/6731/">Tjæreborg</a><br>
                <a href="/postnr/6520/">Toftlund</a><br>
                <a href="/postnr/5690/">Tommerup</a><br>
                <a href="/postnr/4891/">Toreby L</a><br>
                <a href="/postnr/4943/">Torrig L</a><br>
                <a href="/postnr/5953/">Tranekær</a><br>
                <a href="/postnr/8570/">Trustrup</a><br>
                <a href="/postnr/4030/">Tune</a><br>
                <a href="/postnr/4682/">Tureby</a><br>
                <a href="/postnr/4340/">Tølløse</a><br>
                <a href="/postnr/6270/">Tønder</a><br>
                <a href="/postnr/7160/">Tørring</a><br>
                <a href="/postnr/9830/">Tårs</a>
                <br><br>
                <b>U</b><br>
                <a href="/postnr/4350/">Ugerløse</a><br>
                <a href="/postnr/7171/">Uldum</a><br>
                <a href="/postnr/6990/">Ulfborg</a><br>
                <a href="/postnr/5540/">Ullerslev</a><br>
                <a href="/postnr/8860/">Ulstrup</a>
                <br><br>
                <b>V</b><br>
                <a href="/postnr/9430/">Vadum</a><br>
                <a href="/postnr/2500/">Valby</a><br>
                <a href="/postnr/2625/">Vallensbæk</a><br>
                <a href="/postnr/2665/">Vallensbæk Strand</a><br>
                <a href="/postnr/6580/">Vamdrup</a><br>
                <a href="/postnr/7184/">Vandel</a><br>
                <a href="/postnr/2720/">Vanløse</a><br>
                <a href="/postnr/6800/">Varde</a><br>
                <a href="/postnr/2950/">Vedbæk</a><br>
                <a href="/postnr/5474/">Veflinge</a><br>
                <a href="/postnr/3210/">Vejby</a><br>
                <a href="/postnr/6600/">Vejen</a><br>
                <a href="/postnr/6853/">Vejers Strand</a><br>
                <a href="/postnr/7100/">Vejle</a><br>
                <a href="/postnr/5882/">Vejstrup</a><br>
                <a href="/postnr/3670/">Veksø Sjælland</a><br>
                <a href="/postnr/7570/">Vemb</a><br>
                <a href="/postnr/4241/">Vemmelev</a><br>
                <a href="/postnr/7742/">Vesløs</a><br>
                <a href="/postnr/9380/">Vestbjerg</a><br>
                <a href="/postnr/5762/">Vester Skerninge</a><br>
                <a href="/postnr/4953/">Vesterborg</a><br>
                <a href="/postnr/7770/">Vestervig</a><br>
                <a href="/postnr/8800/">Viborg</a><br>
                <a href="/postnr/8260/">Viby J</a><br>
                <a href="/postnr/4130/">Viby Sjælland</a><br>
                <a href="/postnr/6920/">Videbæk</a><br>
                <a href="/postnr/4560/">Vig St.</a><br>
                <a href="/postnr/7480/">Vildbjerg</a><br>
                <a href="/postnr/7980/">Vils</a><br>
                <a href="/postnr/7830/">Vinderup</a><br>
                <a href="/postnr/4390/">Vipperød</a><br>
                <a href="/postnr/2830/">Virum</a><br>
                <a href="/postnr/5492/">Vissenbjerg</a><br>
                <a href="/postnr/6052/">Viuf</a><br>
                <a href="/postnr/9310/">Vodskov</a><br>
                <a href="/postnr/6500/">Vojens</a><br>
                <a href="/postnr/7173/">Vonge</a><br>
                <a href="/postnr/6623/">Vorbasse</a><br>
                <a href="/postnr/4760/">Vordingborg</a><br>
                <a href="/postnr/9760/">Vrå</a><br>
                <a href="/postnr/4873/">Væggerløse</a><br>
                <a href="/postnr/3500/">Værløse</a><br>
                <br><br>
                <b>Æ</b><br>
                <a href="/postnr/5970/">Ærøskøbing</a>
                <br><br>
                <b>Ø</b><br>
                <a href="/postnr/6870/">Ølgod</a><br>
                <a href="/postnr/3310/">Ølsted</a><br>
                <a href="/postnr/3650/">Ølstykke</a><br>
                <a href="/postnr/5853/">Ørbæk</a><br>
                <a href="/postnr/6973/">Ørnhøj</a><br>
                <a href="/postnr/8950/">Ørsted</a><br>
                <a href="/postnr/8586/">Ørum Djurs</a><br>
                <a href="/postnr/8752/">Østbirk</a><br>
                <a href="/postnr/4894/">Øster Ulslev</a><br>
                <a href="/postnr/7990/">Øster-Assels</a><br>
                <a href="/postnr/3751/">Østermarie</a><br>
                <a href="/postnr/9750/">Østervrå</a>
                <br><br>
                <b>Å</b><br>
                <a href="/postnr/6200/">Aabenraa</a><br>
                <a href="/postnr/9440/">Aabybro</a><br>
                <a href="/postnr/8230/">Åbyhøj</a><br>
                <a href="/postnr/3720/">Aakirkeby</a><br>
                <a href="/postnr/9000/">Aalborg</a><br>
                <a href="/postnr/9982/">Ålbæk</a><br>
                <a href="/postnr/9620/">Aalestrup</a><br>
                <a href="/postnr/3140/">Ålsgårde</a><br>
                <a href="/postnr/8000/">Aarhus</a><br>
                <a href="/postnr/6818/">Årre</a><br>
                <a href="/postnr/9600/">Aars</a><br>
                <a href="/postnr/5792/">Årslev</a><br>
                <a href="/postnr/5560/">Aarup</a>
            </td>
        </tr>
    </tbody>
</table>