
<div id="nav_con" class="header_gr" ng-controller="NavController">
    <div id="nav" class="center-block center_width">

        <div ng-show="hasConfirmedAge" class="pull-left nav_item">
            <a href="/collection/" class="menu_text_item">COLLECTION</a>
        </div>

        <div ng-show="hasConfirmedAge" class="pull-left nav_item">
            <div class="menu_vr dotted_vr"></div>
        </div>   

        <div ng-show="hasConfirmedAge" class="pull-left nav_item">
            <a href="/designer/" class="menu_text_item">DESIGN YOUR BOTTLE</a>
        </div>

        <div ng-show="hasConfirmedAge" class="pull-left nav_item">
            <div class="menu_vr dotted_vr"></div>
        </div>   

        <div ng-show="hasConfirmedAge" class="pull-left nav_item">
            <a href="/about/" class="menu_text_item cursor_pointer">ABOUT</a>
        </div>


        <div class="pull-right nav_item" style="vertical-align: middle">
            <a href="/collection/"><img src="/images/Logo_Campaign.png?socasf0123" class="cursor_pointer"></a>
        </div>
    </div>

</div>
